version: '3'
services:
  postgres:
    image: postgres:latest
    environment:
      POSTGRES_PASSWORD: postgres_password
  redis:
    image: redis:latest
  api:
    build:
      # name of the Dockerfile
      dockerfile: Dockerfile.dev
      # build context is <root directory>/server
      context: ./server
    # use the host machines file system for everything except node_modules
    volumes:
      - /app/node_modules
      - ./server:/app
    environment:
      # anytime we access a service defined in this file,
      # the hostname is the name of the service
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - PGUSER=postgres
      - PGHOST=postgres
      - PGDATABASE=postgres
      - PGPASSWORD=postgres_password
      - PGPORT=5432
  client:
    build:
      dockerfile: Dockerfile.dev
      context: ./client
    volumes:
      - /app/node_modules # don't use host machine node_modules, use container's node_modules
      - ./client:/app # use the host machine's file system for everything else
    environment:
      - WDS_SOCKET_PORT=0
  worker:
    build:
      dockerfile: Dockerfile.dev
      context: ./worker
    volumes:
      - /app/node_modules
      - ./worker:/app
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379
  nginx:
    # nginx should always restart if it fails as we use it to route traffic
    restart: always
    build:
      dockerfile: Dockerfile.dev
      context: ./nginx
    ports:
      - '4000:80'
    depends_on:
      - api
      - client
